*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;/*prend en compte les calcules reel des largeur*/
*}
body{
    background-image: url(../../../Image/bgbtik.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}
.cc-navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    z-index: 99;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: red;
}
.heado{
    text-align: center;
    color: aliceblue;
    font-size: 12px ;
}
.text{
    text-align: center;
}
.fin{
    text-align: center;
    color: turquoise;
    font-size: 12px ;
}
.row-1{
    text-align: center;
    color: royalblue;
    margin: 10;
}
.start{
    color: rgba(145, 250, 150, 0.973);
    text-decoration: underline;
}
.liens{
    font-size: 25px;
}