*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*prend en compte les calcules reel des largeur*/
}
.cc-navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    z-index: 99;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: red;
}
.heado{
    text-align: center;
    color: aliceblue;
    font-size: 12px ;
}
.text{
    text-align: center;
}
.fin{
    text-align: center;
    color: turquoise;
    font-size: 12px ;
}
.row1{
    text-align: center;
    margin: 5;
}
h2.metro{
    color: rgb(6, 6, 14);
    text-decoration: underline;
    margin-bottom: 10;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.liens{
    color: silver;
    
}
.liens{
    font-size: 25px;
}